.pair-header, .pair-body, .footer {
  margin-bottom: 10px;
}

.pair-body {
  border: solid;

  /* when table's height is higher than div, it will scroll */
  height: 150px;
  overflow-x: auto;
  overflow-y: auto;
}

.footer {
  /* to be like algin center */
  margin-left: 30%;
}

/* apply all */
.row {
  margin-bottom: 10px;
}

/* apply all */
.item {
  margin-left: 10px;
}

button {
  /* all button's min-width is 120px */
  min-width: 120px;
}

td {
  /* table item text align center */
  text-align: center;
}